/* swiper-2.css */
#wrap {min-width: 1200px;}
#wrap header, #wrap footer {
    background: #111; color: #fff; text-align: center;
    line-height: 100px;
}
#wrap main {}
/* --------------------------------------------------------------main hero */
#wrap main #hero {}
#wrap main #hero .hero_bnr {/* position:relative(내장) */
    width: 100%; height: calc(100vh - 100px); /* 100px = header크기!! */
}
#wrap main #hero .hero_bnr .swiper-wrapper {}/* position:relative(내장), width(X), height(X) */
#wrap main #hero .hero_bnr .swiper-wrapper .swiper-slide {/* position:relative(내장), width(X), height(X) */
    background-size: cover; background-position: center;
}
#wrap main #hero .hero_bnr .swiper-wrapper .swiper-slide .txt {
    text-align: center;
    position: absolute; top: 50%; transform: translateY(-50%); width: 100%;
}
#wrap main #hero .hero_bnr .swiper-wrapper .swiper-slide .txt p {}
#wrap main #hero .hero_bnr .swiper-wrapper .swiper-slide .txt h1 {
    font-weight: 700; line-height: 1.7; font-size: 1.5rem;
}
#wrap main #hero .hero_bnr .swiper-wrapper .slide1 {background-image: url(../images/bnr1.jpg);}
#wrap main #hero .hero_bnr .swiper-wrapper .slide2 {background-image: url(../images/bnr2.jpg);}
#wrap main #hero .hero_bnr .pagi_bar {
    background: lime;
    position: absolute; left: 100px; bottom: 100px; z-index: 100;
}
#wrap main #hero .hero_bnr .pagi_bar .pg {}
#wrap main #hero .hero_bnr .pagi_bar .pg .swiper-pagination-current,
#wrap main #hero .hero_bnr .pagi_bar .pg .swiper-pagination-total {/* 그룹태그 */
    position: absolute; top: -6px;
}
#wrap main #hero .hero_bnr .pagi_bar .pg .swiper-pagination-current {left: -20px;}
#wrap main #hero .hero_bnr .pagi_bar .pg .swiper-pagination-total {right: -20px;}
#wrap main #hero .hero_bnr .pagi_bar .bar_bg {
    width: 200px; height: 2px; background: #999;
}
#wrap main #hero .hero_bnr .pagi_bar .bar_bg .bar {
    display: block; /* span이기 때문에 block 처리 */
    width: 100%; height: 100%; /* 부모 크기에 따라가기 */
    transform-origin: left top; /* transform은 중심이 가운데이기 때문에 바꿔주기 */
    background: #000;
}
/* 부모bar_bg에 active란 클래스가 적용되면 자식bar에 애니메이션 적용 */
#wrap main #hero .hero_bnr .pagi_bar .bar_bg.active .bar {
    animation: barAni 3s linear;
}
@keyframes barAni {
    0% {transform: scaleX(0);}
    100% {transform: scaleX(1);}
}
/* --------------------------------------------------------------main best */
#wrap main .best {}
#wrap main .best h1 {}
#wrap main .best p {}
#wrap main .best #best_item {}
#wrap main .best #best_item .best_swiper {
    width: 1100px; margin: 0 auto; border: 2px solid red;
}
#wrap main .best #best_item .best_swiper .swiper-wrapper {}
#wrap main .best #best_item .best_swiper .swiper-wrapper .swiper-slide {}
#wrap main .best #best_item .best_swiper .swiper-wrapper .swiper-slide a {}
#wrap main .best #best_item .best_swiper .swiper-wrapper .swiper-slide a .photo {}
#wrap main .best #best_item .best_swiper .swiper-wrapper .swiper-slide a .photo img {width: 100%;}
#wrap main .best #best_item .best_swiper .swiper-wrapper .swiper-slide a h2 {}
#wrap main .best #best_item .best_swiper .swiper-wrapper .swiper-slide .price {}
#wrap main .best #best_item .best_swiper .swiper-wrapper .slide1 {}
#wrap main .best #best_item .best_swiper .swiper-wrapper .slide2 {}
#wrap main .best #best_item .best_swiper .swiper-wrapper .slide3 {}
#wrap main .best #best_item .best_swiper .swiper-wrapper .slide4 {}
#wrap main .best #best_item .best_swiper .swiper-wrapper .slide5 {}
#wrap main .best #best_item .best_swiper .swiper-wrapper .slide6 {}
/* --------------------------------------------------------------main new */
#wrap main .new {padding-top: 60px;}
#wrap main .new h1,
#wrap main .new > p {text-align: center;}
#wrap main .new h1 {font-size: 2rem; font-weight: 600;}
#wrap main .new > p {font-size: 1.1rem; color: #555; margin: 10px 0 30px 0;}
#wrap main .new #new_item {}
#wrap main .new #new_item .new_swiper {
    width: 1000px; margin: 0 auto; border: 1px solid red; padding: 30px 0;
}
#wrap main .new #new_item .new_swiper .swiper-wrapper {}
#wrap main .new #new_item .new_swiper .swiper-wrapper .swiper-slide {transition:transform 1s;}
#wrap main .new #new_item .new_swiper .swiper-wrapper .swiper-slide-active {transform:scale(1.1);}
#wrap main .new #new_item .new_swiper .swiper-wrapper .swiper-slide-active > a .photo ~ * {transform:scale(0.9);}
#wrap main .new #new_item .new_swiper .swiper-wrapper .swiper-slide-active > a ~ * {transform:scale(0.9);}
#wrap main .new #new_item .new_swiper .swiper-wrapper .swiper-slide a {}
#wrap main .new #new_item .new_swiper .swiper-wrapper .swiper-slide a .photo {}
#wrap main .new #new_item .new_swiper .swiper-wrapper .swiper-slide a .photo img {width: 100%;}
#wrap main .new #new_item .new_swiper .swiper-wrapper .swiper-slide a h2 {
    font-size: 0.9rem; margin: 10px 0;
}
#wrap main .new #new_item .new_swiper .swiper-wrapper .swiper-slide .price {
    font-weight: 600; font-size: 0.8rem;}
#wrap main .new #new_item .new_swiper .swiper-wrapper .slide1 {}
#wrap main .new #new_item .new_swiper .swiper-wrapper .slide2 {}
#wrap main .new #new_item .new_swiper .swiper-wrapper .slide3 {}
#wrap main .new #new_item .new_swiper .swiper-wrapper .slide4 {}
#wrap main .new #new_item .new_swiper .swiper-wrapper .slide5 {}
#wrap main .new #new_item .new_swiper .swiper-wrapper .slide6 {}
#wrap footer {}