/* swiper-3.css */
#wrap {min-width: 1200px;} /* 아직 반응형 안만들었기 때문에 설정해줘야함! */
#wrap header {
    position: sticky; top: -50px; z-index: 999;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}
#wrap header,
#wrap footer {
    width: 100%; line-height: 100px; text-align: center; font-size: 0.95rem;
    background: linear-gradient(90deg, #eee, #fff, #eee); color: #555;
}
#wrap main {}
#wrap main #hero_wrap {}
#wrap main #hero_wrap .ssf_hero {height: 90vh;}
#wrap main #hero_wrap .ssf_hero .swiper-wrapper {}
#wrap main #hero_wrap .ssf_hero .prev,
#wrap main #hero_wrap .ssf_hero .next {
    /* transform: scale(1.5); */
    background-image: url(../images/arrow.png);
    background-size: contain; 
}
#wrap main #hero_wrap .ssf_hero .prev {transform: scaleX(-1);}
#wrap main #hero_wrap .ssf_hero .prev svg,
#wrap main #hero_wrap .ssf_hero .next svg {display: none;/* color: #fff; */}
#wrap main #hero_wrap .ssf_hero .swiper-wrapper .swiper-slide {
    background-size: cover; background-position: center;
}
#wrap main #hero_wrap .ssf_hero .swiper-wrapper .swiper-slide a {
    display: block; height: 100%; background: rgba(0, 0, 0, 0.4);
    text-align: center;
    display: flex; flex-flow: column nowrap; justify-content: center;
}
#wrap main #hero_wrap .ssf_hero .swiper-wrapper .swiper-slide a * {
    color: #fff;
}
#wrap main #hero_wrap .ssf_hero .swiper-wrapper .swiper-slide a p {
    font-size: 0.9rem; font-weight: 500;
}
#wrap main #hero_wrap .ssf_hero .swiper-wrapper .swiper-slide a h1 {
    font-size: 1.5rem; font-weight: 500; margin: 20px 0 10px 0; line-height: 1.3;
}
#wrap main #hero_wrap .ssf_hero .swiper-wrapper .swiper-slide a h1+p {
    font-weight: 300; line-height: 1.5;
}
#wrap main #hero_wrap .ssf_hero .swiper-wrapper .slide1 {background-image: url(https://img.ssfshop.com/goods/BPBR/25/02/19/GM0025021911306_1_THNAIL_ORGINL_20250318184159431.jpg);}
#wrap main #hero_wrap .ssf_hero .swiper-wrapper .slide2 {background-image: url(https://img.ssfshop.com/goods/BPBR/24/06/21/GM0024062169452_1_THNAIL_ORGINL_20240712193050689.jpg);}
#wrap main #hero_wrap .ssf_hero .swiper-wrapper .slide3 {background-image: url(https://img.ssfshop.com/goods/BPBR/25/03/21/GM0025032101190_1_THNAIL_ORGINL_20250514110600101.jpg);}
#wrap main #hero_wrap .ssf_hero .swiper-wrapper .slide4 {background-image: url(https://img.ssfshop.com/goods/BPBR/24/12/26/GM0024122633067_1_THNAIL_ORGINL_20250228182427109.jpg);}
#wrap main #hero_wrap .ssf_hero .swiper-wrapper .slide5 {background-image: url(https://img.ssfshop.com/goods/BPBR/24/12/02/GM0024120298020_1_THNAIL_ORGINL_20241230200138620.jpg);}
#wrap main #hero_wrap .ssf_hero .swiper-wrapper .slide6 {background-image: url(https://img.ssfshop.com/goods/BPBR/24/12/10/GM0024121030861_1_THNAIL_ORGINL_20250122111009318.jpg);}
/* ---------------------------------------------------brand */
#wrap main #brand_wrap {padding: 50px 0;}
#wrap main #brand_wrap > h1 {
    font-size: 1.5rem; text-align: center; font-weight: 600; margin: 0 0 30px;
}
#wrap main #brand_wrap .container {
    width: 1200px; display: flex; gap: 20px; margin: 0 auto;
}
#wrap main #brand_wrap .container > * {width: 50%;}
#wrap main #brand_wrap .container .left_bnr {
    background-image: url(../images/bnr2.jpg);
    background-size: cover; background-position: center;
    height: 300px;
}
#wrap main #brand_wrap .container .left_bnr a {
    height: 100%; background: rgba(0,0,0,0.2);
    display: flex; flex-flow: column nowrap; justify-content: center; text-align: center;
}
#wrap main #brand_wrap .container .left_bnr a * {color: #fff;}
#wrap main #brand_wrap .container .left_bnr a p {}
#wrap main #brand_wrap .container .left_bnr a h1 {
    font-size: 1.2rem; font-weight: 500; line-height: 1.5; margin: 20px 0;
}
#wrap main #brand_wrap .container .left_bnr a h1+p {}
#wrap main #brand_wrap .container .right_wrap {
    display: flex; align-items: center; position: relative;
}
#wrap main #brand_wrap .container .right_wrap .brand_slide {width: 95%;}
#wrap main #brand_wrap .container .right_wrap .brand_slide .swiper-wrapper {}
#wrap main #brand_wrap .container .right_wrap .brand_slide .swiper-wrapper .swiper-slide {}
#wrap main #brand_wrap .container .right_wrap .brand_slide .swiper-wrapper .swiper-slide .photo_like {position: relative;}
#wrap main #brand_wrap .container .right_wrap .brand_slide .swiper-wrapper .swiper-slide .photo_like a {}
#wrap main #brand_wrap .container .right_wrap .brand_slide .swiper-wrapper .swiper-slide .photo_like a img {width: 100%;}
#wrap main #brand_wrap .container .right_wrap .brand_slide .swiper-wrapper .swiper-slide .photo_like .like {
    width: 16px; display: block; position: absolute; right: 10px; top: 10px;
}
#wrap main #brand_wrap .container .right_wrap .brand_slide .swiper-wrapper .swiper-slide .photo_like .like img {width: 100%;}
#wrap main #brand_wrap .container .right_wrap .brand_slide .swiper-wrapper .swiper-slide > a {}
#wrap main #brand_wrap .container .right_wrap .brand_slide .swiper-wrapper .swiper-slide > a p {font-size: 0.9rem; font-weight: 500; margin-top: 10px;}
#wrap main #brand_wrap .container .right_wrap .brand_slide .swiper-wrapper .swiper-slide > a h1 {font-size: 0.9rem; margin:8px 0 14px 0;}
#wrap main #brand_wrap .container .right_wrap .brand_slide .swiper-wrapper .swiper-slide > a .price {font-weight: 700; font-size: 0.8rem;}
#wrap main #brand_wrap .container .right_wrap .prev,
#wrap main #brand_wrap .container .right_wrap .next {transform: scale(0.4);}
#wrap main #brand_wrap .container .right_wrap .prev {left: -20px;}
#wrap main #brand_wrap .container .right_wrap .next {right: -20px;}
#wrap main #brand_wrap .container .right_wrap .prev svg,
#wrap main #brand_wrap .container .right_wrap .next svg {color: #222;}